/* Estilo geral da seção */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.container{
    width: 1323px;
}

.bar{
    background-color: #FBF3EA;
    height: 45px;
    width: 1323px;
    display: flex;
    

    align-items: center;
    justify-content: space-between;
    padding: 20px 290px 20px 290px;
    border-bottom: 8px solid rgb(56, 23, 23);
    font-size: 18px;
    font-weight: 500;
    color: rgb(56, 23, 23);
}

.bar:hover{
    cursor: pointer;
}

.logo{
    width: 45px;
    height: 45px;
    display: flex;
    margin-left: 90px;
    background-image: url(/img/logo-int.png)
}

.bar nav{
    text-decoration: none;
    float: right;
}

.bar ul{
    margin-right: 100px;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 40px;
    float: right;
}

.bar button{
    height: 45px;
    width: 145px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: linear-gradient(135deg, rgb(6, 147, 227) 0%, rgb(155, 81, 224) 100%);
}

.hero{
    display: flex;
    width: 1903px;
    height: 1080px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.9)),
        url(/img/bg-int.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    flex-direction: column;
}

.hero span{
    color: white;
    font-size: 26px;
    font-style: normal;
    margin: 255px auto 0 auto;

}

.hero h1{
    font-size: 58px;
    color: white;
    font-weight: 600;
    margin: 25px auto;

}

.buttons{
    margin: 52px auto;
    
}

.subscribe{
    height: 60px;
    width: 180px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, rgb(6, 147, 227) 0%, rgb(155, 81, 224) 100%);
}

.contact{
    height: 65px;
    width: 155px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 255, 255, 0);
}

button:hover{
    cursor: pointer;
}

